{% extends "renobase.twig" %}

{% block content %}
    <h1 class="ui header">
        <small><i class="ui setting icon"></i>Admin &raquo;</small><br />
        <span><i class="ui users icon"></i>Users</span>
        <a class="ui right floated primary button" href="{{app.path('admin_user_add')}}">
            <i class="ui plus icon"></i>Add new user
        </a>
        <div class="ui divider" style="clear: both"></div>
    </h1>

    <table class="ui celled striped sortable table">
        <thead>
            <tr>
                <th class="ui collapsing">Username</th>
                <th>Short Name</th>
                <th class="ui collapsing">Email</th>
                <th class="ui collapsing">Login by</th>
                <th class="ui collapsing">Admin</th>
                <th class="ui collapsing">Project<br/>Count</th>
                <th>Project Access</th>
                <th class="ui collapsing">Registered</th>
                <th class="ui collapsing">Last Login</th>
                <th class="ui collapsing">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="ui top aligned">
                    <td>{{user.username}}</td>
                    <td>{{user.shortname}}</td>
                    <td>{{user.email}}</td>
                    <td class="ui center aligned">
                        {% if user.blocked %}
                            <div class="ui red label">Blocked</div>
                        {% else %}
                            <div class="ui label">{{user.auth}}</div>
                        {% endif %}
                    </td>
                    <td class="ui center aligned">{{'ROLE_ADMIN' in user.roles ? 'Y':'N'}}</td>
                    <td class="ui center aligned">
                        {{user.userProjects|length}}
                    </td>
                    <td>
                        <div class="ui middle aligned divided list">
                            {% for userProject in user.userProjects.toArray()|psort('project.title') %}
                                <div class="item">
                                    <div class="right floated content">
                                        {{userProject.role}}
                                    </div>
                                    <div class="content">
                                        {{userProject.project.title}}
                                    </div>
                                </div>
                            {% else %}
                                N/A
                            {% endfor %}
                        </div>
                    </td>
                    <td class="ui collapsing" data-sort-value="{{ user.created_date.getTimestamp() }}">
                        {{ user.created_date|date('d/m/Y') }}
                    </td>
                    {% if user.last_login %}
                        <td class="ui collapsing" data-sort-value="{{ user.last_login.getTimestamp() }}">
                            {{ user.last_login|date('d/m/Y h:i A') }}
                        </td>
                    {% else %}
                        <td class="ui collapsing" data-sort-value="0">
                            Unknown
                        </td>
                    {% endif %}
                    <td class="ui collapsing">
                        <a class="ui button" href="{{app.path('admin_user_edit', {'username': user.username})}}">
                            <i class="ui pencil icon"></i> Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
