{% extends "renobase.twig" %}

{% block content %}
    <h1 class="ui dividing header">
        <small><i class="ui setting icon"></i>Admin &raquo;</small><br />
        <span><i class="ui users icon"></i>Users</span>
        <a class="ui right floated primary button" href="{{app.path('admin_user_add')}}">
            <i class="ui plus icon"></i>Add new user
        </a>
    </h1>

    <table class="ui celled striped sortable table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Short Name</th>
                <th class="ui collapsing">Login by</th>
                <th class="ui collapsing">Admin</th>
                <th>Project Access</th>
                <th class="ui collapsing">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td class="ui top aligned">{{user.username}}</td>
                    <td class="ui top aligned">{{user.shortname}}</td>
                    <td class="ui top aligned center aligned"><div class="ui label">{{user.auth}}</div></td>
                    <td class="ui top aligned center aligned">{{'ROLE_ADMIN' in user.roles ? 'Y':'N'}}</td>
                    <td>
                        <div class="ui middle aligned divided list">
                            {% for userProject in user.userProjects.toArray()|psort('project.title') %}
                                <div class="item">
                                    <div class="right floated content">
                                        {{userProject.role}}
                                    </div>
                                    <div class="content">
                                        {{userProject.project.title}}
                                    </div>
                                </div>
                            {% else %}
                                N/A
                            {% endfor %}
                        </div>
                    </td>
                    <td class="ui top aligned collapsing">
                        <a class="ui button" href="{{app.path('admin_user_edit', {'username': user.username})}}">
                            <i class="ui pencil icon"></i> Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
