{% extends "renobase.twig" %}

{% block content %}
    {% set is_existing = (deployment.id|default(null) is not empty) %}
    <h1 class="ui header">
        <div class="breadcrumb">
            <span>{{r.crumb_project(deployment.project, true)}} &raquo;</span>
        </div>
        {% if is_existing %}Edit{% else %}Create{% endif %} deployment
    </h1>

    {% if errors|default(false) %}
        <div class="ui error message">
            Your input contains errors. Please fix below.
        </div>
    {% endif %}

    <form method="POST">
        <div class="ui form">
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Deployment Date</label>
                {{ m.dateField('execute_date','execute_date',(deployment.execute_date|default(false) ? deployment.execute_date|date('d/m/Y h:i A') : null),'Deployment date', 'datetime') }}
                {{ m.fieldError(errors|default([]), 'execute_date') }}
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Title</label>
                <input placeholder="User friendly deployment title (max 100 characters)" type="text" name="title" value="{{deployment.title|default(null)}}" />
                {{ m.fieldError(errors|default([]), 'title') }}
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Description</label>
                <textarea name="description" rows="3">{{deployment.description|default(null)}}</textarea>
                {{ m.fieldError(errors|default([]), 'description') }}
            </div>
            <div class="ui field">
                <input type="submit" class="ui submit primary button" name="_action" value="{% if is_existing %}Save{% else %}Create{% endif %} deployment" />
                <a href="{{cancel_path|default('javascript:window.history.go(-1)')}}" class="ui secondary button">Cancel</a>
                {% if is_existing %}
                    <input type="submit" class="ui red right floated button" name="_action" value="Delete"
                           onclick="return confirm('Are you sure you want to delete?')" />
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}