{% extends "renobase.twig" %}

{% block content %}
	<h1 class="ui dividing header">
		<span>
			<i class="ui calendar check o icon"></i>{{deployment.displayTitle}}
		</span>
		<a class="ui right floated button" href="{{app.path('deployment_edit',controller.entityParams(deployment))}}"><i class="ui pencil icon"></i>Edit</a>
	</h1>

	<h2 class="ui header">
		Deployment Items
		<a class="ui right floated primary button" href="{{app.path('item_create',controller.entityParams(deployment))}}">
			<i class="ui plus icon"></i>Add deployment item
		</a>
	</h2>

	<table class="ui celled striped sortable table">
		<thead>
			<tr>
				<th class="ui collapsing">Reference #</th>
				<th>Title</th>
				<th class="ui collapsing">Category</th>
				<th class="ui collapsing">Status</th>
			</tr>
		</thead>
		<tbody>
			{% for item in deployment.items %}
				<tr>
					<td class="ui collapsing">{{item.refnum|default('-')}}</td>
					<td>
						<h3><a href="{{app.path('item_view',controller.entityParams(item))}}" class="header">{{item.title}}</a></h3>
					</td>
					<td class="ui collapsing">
						{{ r.itemCategoryLabel(item) }}
					</td>
					<td class="ui collapsing">
						{{ r.itemStatusLabel(item) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="1000" class="center aligned">No item found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="ui very relaxed divided list">
	</div>

	<p>&nbsp;</p>
	{{ r.timestamps(deployment) }}

{% endblock %}