{% extends "renobase.twig" %}

{% block content %}
	{% set params = controller.entityParams(item) %}
	{% set is_acl_approval = app.securilex.isGranted('approval',item.deployment.project) %}
	{% set is_acl_entry = app.securilex.isGranted(['entry','approval'],item.deployment.project) %}
	{% set is_acl_execute = app.securilex.isGranted(['execute','entry','approval'],item.deployment.project) %}
	<h1 class="ui dividing header">
		<div>
			<small>
				<i class="ui calendar check o  icon"></i>{{item.deployment.displayTitle}} &raquo;
			</small>
		</div>
		<span>
			<i class="ui idea icon"></i>{{item.displayTitle}}
		</span>
		<div>
			{% if (item.approved_date and is_acl_approval) or (not item.approved_date and is_acl_entry) %}
				<a class="ui right floated button" href="{{app.path('item_edit',controller.entityParams(item))}}"><i class="ui pencil icon"></i>Edit</a>
			{% endif %}
			{% if not item.submitted_date %}
				{% if is_acl_approval or is_acl_entry %}
					<a class="ui right floated primary button" href="{{app.path('item_submit',params)}}"
					   onclick="javascript:return confirm('Submit this item for approval?');"><i class="ui send icon"></i>Submit for approval</a>
				{% endif %}
			{% elseif not item.approved_date %}
				{% if is_acl_approval %}
					<button id="reject_button" class="ui right floated red button no-print"><i class="ui x icon"></i>Reject</button>
					<div class="ui popup">
						<form class="ui form center aligned basic segment" style="width: 400px" method="POST" action="{{app.path('item_reject',params)}}">
							<div class="ui field">
								<label class="ui top attached large label">Rejection reason</label>
								<textarea placeholder="Explain briefly why this item is to be rejected" name="reason"></textarea>
							</div>
							<div class="ui field">
								<input class="ui red button" type="submit" value="Confirm reject" />
							</div>
						</form>
					</div>
					<a class="ui right floated primary button no-print" href="{{app.path('item_approve',params)}}"
					   onclick="javascript:return confirm('Approve this item for deployment?');"><i class="ui check icon"></i>Approve</a>
				{% endif %}
			{% else %}
				{% if is_acl_approval %}
					<a class="ui right floated red button no-print" href="{{app.path('item_unapprove',params)}}"
					   onclick="javascript:return confirm('Unapprove this item?');"><i class="ui x icon"></i>Unapprove</a>
				{% endif %}
			{% endif %}
			<div class="ui labels">
				{{ r.itemCategoryLabel(item) }}
				{{ r.itemModulesLabel(item) }}
				{{ r.itemStatusLabel(item, true) }}
			</div>
		</div>
	</h1>

	<div class="ui stackable grid">
		<div class="twelve wide column">
			{% if item.description %}
				<div class="ui info message">{{item.description|nl2br}}</div>
			{% endif %}
			<h2 class="ui header">
				<span>
					<i class="ui add to cart icon"></i> Activities
				</span>
				{% if not item.approved_date and is_acl_entry %}
					<a class="ui right floated primary button no-print" href="{{app.path('activity_create',params)}}">
						<i class="ui plus icon"></i>Add activity
					</a>
				{% endif %}
			</h2>

			<table class="ui celled striped table">
				<thead>
					<tr>
						<th class="ui collapsing">#</th>
						<th>Template</th>
						<th>Description</th>
							{% if not item.approved_date and is_acl_entry %}
							<th class="ui collapsing no-print">Action</th>
							{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for activity in item.activities %}
						{% set description = activity.template.templateClass().describeActivityAsArray(activity) %}
						<tr>
							<td class="ui top aligned collapsing">{{loop.index}}</td>
							<td class="ui top aligned">
								{% if activity.stage < 0 %}
									<em>Pre Deployment &raquo;</em><br />
								{% elseif activity.stage > 0 %}
									<em>Post Deployment &raquo;</em><br />
								{% endif %}
								{{activity.template.title}}
							</td>
							<td class="ui top aligned" style="max-width: 600px; overflow-x: auto;">
								<div style="max-height: 400px; overflow-y: auto;">
									{{ r.arrayTable(description) }}
								</div>
							</td>
							{% if not item.approved_date and is_acl_entry %}
								<td class="ui top aligned collapsing no-print">
									<a class="ui icon button" title="Edit" href="{{app.path('activity_edit',controller.entityParams(activity))}}">
										<i class="ui pencil icon"></i>
									</a>
								</td>
							{% endif %}
						</tr>
					{% else %}
						<tr>
							<td colspan="1000" class="center aligned">No activity has been defined</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<h2 class="ui header">
				<span>
					<i class="ui attach icon"></i> Attachments
				</span>
				{% if not item.approved_date and is_acl_entry %}
					<a class="ui right floated primary button no-print" href="{{app.path('attachment_create',params)}}">
						<i class="ui plus icon"></i>Add attachment
					</a>
				{% endif %}
			</h2>

			<table class="ui celled striped table">
				<thead>
					<tr>
						<th class="ui collapsing">#</th>
						<th>File Name &amp; Type</th>
						<th>Description</th>
						<th class="ui collapsing">File Size</th>
							{% if not item.approved_date and is_acl_entry %}
							<th class="ui collapsing no-print">Action</th>
							{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for attachment in item.attachments %}
						<tr>
							<td class="ui collapsing">{{loop.index}}</td>
							<td>
								<a title="Download" href="{{app.path('attachment_download',controller.entityParams(attachment))}}">
									<strong>{{attachment.filename}}</strong>
								</a>
								<div>
									<small>{{attachment.mime_type}}</small>
								</div>
							</td>
							<td>{{attachment.description}}</td>
							<td class="ui collapsing">{{attachment.filesize}}</td>
							{% if not item.approved_date and is_acl_entry %}
								<td class="ui collapsing no-print">
									<a class="ui icon button" title="Edit" href="{{app.path('attachment_edit',controller.entityParams(attachment))}}">
										<i class="ui pencil icon"></i>
									</a>
								</td>
							{% endif %}
						</tr>
					{% else %}
						<tr>
							<td colspan="1000" class="center aligned">No attachment has been uploaded</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="four wide stretched column">
			<div class="ui secondary segment">
				<h3 class="ui dividing header">
					<i class="ui comments outline icon"></i> Comments
				</h3>

				<div class="ui comments">
					{% for comment in item.comments %}
						<div class="comment">
							<div class="content">
								{% if comment.created_by == app.userEntity() and comment.event is empty %}
									{% if comment.deleted_date %}
										<a class="ui right floated compact very tiny icon button" 
										   href="{{app.path('item_comment_undelete',controller.entityParams(item)+{'comment':comment.id})}}" title="Undo delete"><i class="ui undo icon"></i>
										</a>
									{% else %}
										<a class="ui right floated compact very tiny icon button" 
										   href="{{app.path('item_comment_delete',controller.entityParams(item)+{'comment':comment.id})}}" title="Delete"><i class="ui x icon"></i>
										</a>
									{% endif %}
								{% endif %}
								<a class="author">{{comment.created_by.getName()}}</a>
								<div class="metadata">
									<span class="date">{{comment.created_date|date('d/m/Y h:ia')}}</span>
								</div>
								{% if comment.event %}
									<div class="text">
										<span class="ui right pointing label">{{comment.event}}</span> {{comment.text|nl2br}}
									</div>
								{% elseif comment.deleted_date %}
									<div class="metadata">
										<em>&raquo; Deleted on {{comment.deleted_date|date('d/m/Y h:ia')}}</em>
									</div>
								{% else %}
									<div class="text">
										{{comment.text|nl2br}}
									</div>
								{% endif %}	
							</div>
						</div>
					{% else %}
						<em>No comments yet</em>
					{% endfor %}
					{% if is_acl_execute %}
						<form class="ui center aligned form basic segment no-print" method="POST" action="{{app.path('item_comment_add',controller.entityParams(item))}}">
							<h4 class="ui horizontal divider header">
								Add comment
							</h4>
							<div class="field">
								<textarea name="text" rows="3"></textarea>
							</div>
							<input class="ui secondary button" type="submit" name="_action" value="Post" />
						</form>
					{% endif %}
				</div>			
			</div>
		</div>
	</div>

	<p>&nbsp;</p>
	{{ r.timestamps(item) }}

	<script>
		$(function () {
			$('#reject_button')
					.popup({
						inline: true,
						on: 'click',
						position: 'bottom center'
					});
		});
	</script>

{% endblock %}