{% extends "renobase.twig" %}

{% block content %}
	{% set params = controller.entityParams(item) %}
	<h1 class="ui dividing header">
		<small><i class="ui calendar check o  icon"></i>{{item.deployment.displayTitle}} &raquo;</small><br />
		<span>
			<i class="ui idea icon"></i>{{item.displayTitle}}
		</span>
		{% if not item.approved_date %}
			{% if app.securilex.isGranted(['entry','approval'],item.deployment.project) %}
				<a class="ui right floated button" href="{{app.path('item_edit',controller.entityParams(item))}}"><i class="ui pencil icon"></i>Edit</a>
			{% endif %}
		{% endif %}
		{% if not item.submitted_date %}
			{% if app.securilex.isGranted(['entry','approval'],item.deployment.project) %}
				<a class="ui right floated primary button" href="{{app.path('item_submit',params)}}"
				   onclick="javascript:return confirm('Submit this item for approval?');"><i class="ui send icon"></i>Submit for approval</a>
			{% endif %}
		{% elseif not item.approved_date %}
			{% if app.securilex.isGranted('approval',item.deployment.project) %}
				<a class="ui right floated primary button" href="{{app.path('item_approve',params)}}"
				   onclick="javascript:return confirm('Approve this item for deployment?');"><i class="ui check icon"></i>Approve</a>
			{% endif %}
		{% else %}
			{% if app.securilex.isGranted('approval',item.deployment.project) %}
				<a class="ui right floated red button" href="{{app.path('item_unapprove',params)}}"
				   onclick="javascript:return confirm('Unapprove this item?');"><i class="ui x icon"></i>Unapprove</a>
			{% endif %}
		{% endif %}
		{{ r.itemCategoryLabel(item) }}
		{{ r.itemStatusLabel(item, true) }}
	</h1>

	<p>{{item.description|nl2br}}</p>

	<div class="ui grid">
		<div class="twelve wide column">
			<h2>
				Activities
				{% if not item.approved_date and app.securilex.isGranted(['entry','approval'],item.deployment.project) %}
					<a class="ui right floated primary button" href="{{app.path('activity_create',params)}}">
						<i class="ui plus icon"></i>Add activity
					</a>
				{% endif %}
			</h2>

			<table class="ui celled striped table">
				<thead>
					<tr>
						<th class="ui collapsing">#</th>
						<th>Category</th>
						<th>Description</th>
							{% if not item.approved_date and app.securilex.isGranted(['entry','approval'],item.deployment.project) %}
							<th class="ui collapsing">Action</th>
							{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for activity in item.activities %}
						{% set description = activity.template.templateClass().describeActivityAsArray(activity) %}
						<tr>
							<td class="ui top aligned collapsing">{{loop.index}}</td>
							<td class="ui top aligned">
								{% if activity.stage < 0 %}
									<em>Pre Deployment &raquo;</em><br />
								{% elseif activity.stage > 0 %}
									<em>Post Deployment &raquo;</em><br />
								{% endif %}
								{{activity.template.title}}
							</td>
							<td class="ui top aligned">
								{{ r.arrayTable(description) }}
							</td>
							{% if not item.approved_date and app.securilex.isGranted(['entry','approval'],item.deployment.project) %}
								<td class="ui top aligned collapsing">
									<a class="ui icon button" title="Edit" href="{{app.path('activity_edit',controller.entityParams(activity))}}">
										<i class="ui pencil icon"></i>
									</a>
								</td>
							{% endif %}
						</tr>
					{% else %}
						<tr>
							<td colspan="1000" class="center aligned">No activity has been defined</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<h2>
				Attachments
				{% if not item.approved_date and app.securilex.isGranted(['entry','approval'],item.deployment.project) %}
					<a class="ui right floated primary button" href="{{app.path('attachment_create',params)}}">
						<i class="ui plus icon"></i>Add attachment
					</a>
				{% endif %}
			</h2>

			<table class="ui celled striped table">
				<thead>
					<tr>
						<th class="ui collapsing">#</th>
						<th>Description</th>
						<th>File Name</th>
						<th class="ui collapsing">File Type</th>
						<th class="ui collapsing">File Size</th>
							{% if not item.approved_date and app.securilex.isGranted(['entry','approval'],item.deployment.project) %}
							<th class="ui collapsing">Action</th>
							{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for attachment in item.attachments %}
						<tr>
							<td class="ui collapsing">{{loop.index}}</td>
							<td>{{attachment.description}}</td>
							<td>
								<a title="Download" href="{{app.path('attachment_download',controller.entityParams(attachment))}}">
									{{attachment.filename}}
								</a>
							</td>
							<td class="ui collapsing">{{attachment.mime_type}}</td>
							<td class="ui collapsing">{{attachment.filesize}}</td>
							{% if not item.approved_date and app.securilex.isGranted(['entry','approval'],item.deployment.project) %}
								<td class="ui collapsing">
									<a class="ui icon button" title="Edit" href="{{app.path('attachment_edit',controller.entityParams(attachment))}}">
										<i class="ui pencil icon"></i>
									</a>
								</td>
							{% endif %}
						</tr>
					{% else %}
						<tr>
							<td colspan="1000" class="center aligned">No attachment has been uploaded</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="four wide stretched column">
			<div class="ui secondary basic segment">
				<h2 class="ui header">Comments</h2>

				<div class="ui comments">
					{% for comment in item.comments %}
						<div class="comment">
							<div class="content">
								{% if comment.created_by == app.userEntity() and not comment.deleted_date %}
									<a class="ui right floated compact very tiny icon button" 
									   href="{{app.path('item_comment_delete',controller.entityParams(item)+{'comment':comment.id})}}"><i class="ui x icon"></i>
									</a>
								{% endif %}
								<a class="author">{{comment.created_by.getName()}}</a>
								<div class="metadata">
									<span class="date">{{comment.created_date|date('d/m/Y h:ia')}}</span>
								</div>
								{% if comment.deleted_date %}
									<div class="metadata">
										<em>&raquo; Deleted on {{comment.deleted_date|date('d/m/Y h:ia')}}</em>
									</div>
								{% else %}
									<div class="text">
										{{comment.text|nl2br}}
									</div>
								{% endif %}	
							</div>
						</div>
					{% endfor %}
					{% if app.securilex.isGranted(['execute','entry','approval'],item.deployment.project) %}
						<form class="ui center aligned form basic segment" method="POST" action="{{app.path('item_comment_add',controller.entityParams(item))}}">
							<div class="field">
								<textarea name="text" rows="3"></textarea>
							</div>
							<input class="ui blue centered button" type="submit" name="_action" value="Post" />
						</form>
					{% endif %}
				</div>			
			</div>
		</div>
	</div>

	<p>&nbsp;</p>
	{{ r.timestamps(item) }}

{% endblock %}