{% extends "renobase.twig" %}
{% import "project_view.twig" as mm %}

{% block content %}
    <h1 class="ui dividing header">
        <span>
            <i class="ui cube icon"></i>{{project.title}}
        </span>
    </h1>

    <h2>
        Past Deployments
    </h2>

    {% if project.past().count() > 0 %}
        <div class="ui basic segment">
            {{ mm.deploymentList(project.past()) }}
        </div>
    {% endif %}

{% endblock %}

{% macro deploymentList(deployments) %}
    <div class="ui one stackable cards">
        {% for deployment in deployments %}
            <div class="ui blue card">
                <div class="content">
                    <a  class="ui header" href="{{app.entity_path('deployment_view',deployment)}}">
                        <span class="ui right floated">
                            {{deployment.datetimeString(true)}}
                        </span>
                        <i class="calendar check o icon"></i>
                        <div class="content">
                            {{deployment.title}}
                        </div>
                    </a>
                    {% if deployment.description %}
                        <div class="ui description">
                            {{deployment.description|nl2br}}
                        </div>
                    {% endif %}
                    {% set item_count = deployment.items.count() %}
                    {% if item_count > 0 %}
                        <table class="ui very compact small sortable purple table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Status</th>
                                </tr>
                            </thead>					
                            <tbody>
                                {% for item in deployment.items %}
                                    <tr>
                                        <td>
                                            <a href="{{app.entity_path('item_view',item)}}" class="ui item">
                                                {{item.displayTitle}}
                                            </a>
                                        </td>
                                        <td class="collapsing">									
                                            <i class="ui {{item.statusIcon}} icon"></i>{{item.status}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="meta">
                            <i class="ui warning sign icon"></i>
                            No deployment item has been added to this deployment yet
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro deploymentList2(deployments) %}
    <table class="ui padded table">
        {% for deployment in deployments %}
            <tr>
                <td class="ui collapsing top aligned"><i class="large calendar check o icon"></i></td>
                <td class="ui eight wide top aligned">
                    <a href="{{app.entity_path('deployment_view',deployment)}}" class="header">
                        <h3>{{deployment.displayTitle}}</h3>
                    </a>
                    <div>{{deployment.description|nl2br}}</div>
                </td>
                <td class="ui eight wide top aligned">
                    {% if deployment.items.count() > 0 %}
                        <div class="ui dropdown action-nothing">
                            <div class="text">{{deployment.items.count()}} items</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {% for item in deployment.items %}
                                    <div class="item">
                                        <a href="{{app.entity_path('item_view',item)}}">
                                            <i class="ui {{item.statusIcon}} icon" title="{{item.status}}"></i>
                                            {{item.displayTitle}}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}