{% extends "renobase.twig" %}
{% import _self as mm %}
{% set is_project_admin = app.securilex.isGranted('ROLE_ADMIN') or app.securilex.isGranted('approval',project) %}

{% block content %}
    <h1 class="ui dividing header">
        <span>
            <i class="ui cube icon"></i>{{project.title}}
        </span>
        {% if is_project_admin %}
            <a class="ui right floated button no-print" href="{{app.entity_path('project_edit',project)}}"><i class="ui pencil icon"></i>Edit</a>
            <a class="ui right floated button no-print" href="{{app.entity_path('template_list',project)}}"><i class="ui clipboard icon"></i>Templates</a>
            <a class="ui right floated button no-print" href="{{app.entity_path('plugin_index',project)}}"><i class="ui plug icon"></i>Plugins</a>
        {% endif %}
    </h1>

    <p style="clear: both">{{project.description}}</p>

    {% if is_project_admin and project.templates.count() == 0 %}
        <div class="ui error message">
            Warning: No activity template has been defined for this project. <a href="{{app.entity_path('template_create',project)}}">Click here to add a new activity template</a>.
        </div>
    {% endif %}

    <h2 style="clear: both">
        Upcoming Deployments
        {% if app.securilex.isGranted('approval',project) %}
            <a class="ui right floated primary button no-print" href="{{app.entity_path('deployment_create',project)}}">
                <i class="ui plus icon"></i>Create
            </a>
        {% endif %}
    </h2>

    <div class="ui basic segment">
        {% if project.upcoming().count() > 0 %}
            {{ mm.deploymentList(project.upcoming()) }}
        {% else %}
            <div class="ui warning message">This project has no upcoming deployments yet. A user with 'approval' role needs to create a new deployment.</div>
        {% endif %}
    </div>

    {% if project.past().count() > 0 %}
        <h2>
            Past Deployments (Showing last 10)
            <a class="ui button right floated" href="{{app.entity_path('project_past',project)}}"><i class="ui clock icon"></i>Show all past deployments</a>
        </h2>
        <div class="ui basic segment">
            {{ mm.deploymentList(project.past()|slice(0, 10)) }}
        </div>
    {% endif %}

{% endblock %}

{% macro deploymentList(deployments) %}
    <div class="ui two stackable cards">
        {% for deployment in deployments %}
            <div class="ui purple card">
                <div class="content">
                    <a  class="ui header" href="{{app.entity_path('deployment_view',deployment)}}">
                        <span class="ui right floated">
                            {{deployment.datetimeString(true)}}
                        </span>
                        <i class="calendar check o icon"></i>
                        <div class="content">
                            {{deployment.title}}
                        </div>
                    </a>
                    {% if deployment.description %}
                        <div class="ui description">
                            {{deployment.description|nl2br}}
                        </div>
                    {% endif %}
                    {% set item_count = deployment.items.count() %}
                    {% if item_count > 0 %}
                        <table class="ui very compact small sortable purple table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                </tr>
                            </thead>					
                            <tbody>
                                {% for item in deployment.items %}
                                    <tr>
                                        <td>
                                            <a href="{{app.entity_path('item_view',item)}}" class="ui item">
                                                {{item.displayTitle}}
                                            </a>
                                        </td>
                                        <td class="ui collapsing">
                                            {{item.category}}
                                        </td>
                                        <td class="collapsing">									
                                            <i class="ui {{item.statusIcon}} icon"></i>{{item.status}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="meta">
                            <div class="ui basic segment">
                                <i class="ui warning sign icon"></i>
                                No deployment item has been added to this deployment yet
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro deploymentList2(deployments) %}
    <table class="ui padded table">
        {% for deployment in deployments %}
            <tr>
                <td class="ui collapsing top aligned"><i class="large calendar check o icon"></i></td>
                <td class="ui eight wide top aligned">
                    <a href="{{app.entity_path('deployment_view',deployment)}}" class="header">
                        <h3>{{deployment.displayTitle}}</h3>
                    </a>
                    <div>{{deployment.description|nl2br}}</div>
                </td>
                <td class="ui eight wide top aligned">
                    {% if deployment.items.count() > 0 %}
                        <div class="ui dropdown action-nothing">
                            <div class="text">{{deployment.items.count()}} items</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {% for item in deployment.items %}
                                    <div class="item">
                                        <a href="{{app.entity_path('item_view',item)}}">
                                            <i class="ui {{item.statusIcon}} icon" title="{{item.status}}"></i>
                                            {{item.displayTitle}}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}