{% extends "renobase.twig" %}

{% block content %}
	{% set is_existing = (project.id|default(null) is not empty) %}
	<h1 class="ui header">
		{% if is_existing %}
			Edit project
			<a class="ui right floated button" href="{{app.path('template_list',controller.entityParams(project))}}"><i class="ui clipboard icon"></i>Activity Templates</a>
		{% else %}
			Create project
		{% endif %}
	</h1>

	<form method="POST">
		<div class="ui form">
			<div class="ui required field basic segment">
				<label class="ui top attached large label">Name</label>
				<input placeholder="Project name (max 16 alphanumeric and underscore characters only)" type="text" name="name" value="{{app.request.request.get('name')|default(project.name|default(null))}}" {% if is_existing %}disabled="disabled"{% endif %} />
				{{ m.fieldError(errors|default([]), 'name') }}
			</div>
			<div class="ui required field basic segment">
				<label class="ui top attached large label">Title</label>
				<input placeholder="User friendly project title (max 100 characters)" type="text" name="title" value="{{app.request.request.get('title')|default(project.title|default(null))}}" />
				{{ m.fieldError(errors|default([]), 'title') }}
			</div>
			<div class="ui field basic segment">
				<label class="ui top attached large label">Description</label>
				<textarea name="description" rows="3">{{app.request.request.get('description')|default(project.description|default(null))}}</textarea>
				{{ m.fieldError(errors|default([]), 'description') }}
			</div>
			<div class="ui field">
				<input type="submit" class="ui submit primary button" name="_action" value="{% if is_existing %}Save{% else %}Create{% endif %} project" />
				<a href="{{cancel_path|default('javascript:window.history.go(-1)')}}" class="ui secondary button">Cancel</a>
				{% if is_existing %}
					<input type="submit" class="ui red right floated button" name="_action" value="Delete"
						   onclick="return prompt('Are you sure you want to delete? Enter project title to delete') == '{{project.title}}'" />
				{% endif %}
			</div>
		</div>
	</form>
{% endblock %}