{% extends "renobase.twig" %}
{% import _self as mm %}

{% block content %}
	<h1 class="ui dividing header">
		<span>
			<i class="ui cube icon"></i>{{project.title}}
		</span>
		{% if app.securilex.isGranted('ROLE_ADMIN') or app.securilex.isGranted('approval',project) %}
			<a class="ui right floated button" href="{{app.path('project_edit',controller.entityParams(project))}}"><i class="ui pencil icon"></i>Edit</a>
		{% endif %}
	</h1>

	<p>{{project.description}}</p>

	<h2>
		Deployments
		{% if app.securilex.isGranted('approval',project) %}
			<a class="ui right floated primary button" href="{{app.path('deployment_create',controller.entityParams(project))}}">
				<i class="ui plus icon"></i>Create deployment
			</a>
		{% endif %}
	</h2>

	<h3>Upcoming</h3>
	{% if project.upcoming().count() > 0 %}
		{{ mm.deploymentList(project.upcoming()) }}
	{% else %}
		<div class="ui warning message">This project has no upcoming deployments yet. A user with 'approval' role needs to create a new deployment.</div>
	{% endif %}

	{% if project.past().count() > 0 %}
		<h3>Past</h3>
		{{ mm.deploymentList(project.past()) }}
	{% endif %}

{% endblock %}

{% macro deploymentList(deployments) %}
	<table class="ui very basic padded table">
		{% for deployment in deployments %}
			<tr>
				<td class="ui collapsing"><i class="large calendar check o icon"></i></td>
				<td class="ui collapsing">
					<a href="{{app.path('deployment_view',app.controller.entityParams(deployment))}}" class="header">
						<h3>{{deployment.displayTitle}}</h3>
					</a>
					<div>{{deployment.description|nl2br}}</div>
				</td>
				<td>
					{% if deployment.items.count() > 0 %}
						<div class="ui horizontal list">
							{% for item in deployment.items %}
								<span class="ui item">
									<a href="{{app.path('item_view',app.controller.entityParams(item))}}">
										<i class="ui {{item.statusIcon}} icon" title="{{item.status}}"></i>
										{{item.displayTitle}}
									</a>
								</span>
							{% endfor %}
						</div>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endmacro %}