{% extends "renobase.twig" %}
{% import _self as mm %}

{% block content %}
	<h1 class="ui dividing header">
		<span><i class="ui cube icon"></i>{{project.title}}</span>
		<a class="ui right floated button" href="{{app.path('project_edit',controller.entityParams(project))}}"><i class="ui pencil icon"></i>Edit</a>
	</h1>

	<p>{{project.description}}</p>

	<h2>
		Deployments
		<a class="ui right floated primary button" href="{{app.path('deployment_create',controller.entityParams(project))}}">
			<i class="ui plus icon"></i>Create deployment
		</a>
	</h2>

	<h3>Upcoming</h3>
	{% if project.upcoming().count() > 0 %}
		{{ mm.deploymentList(project.upcoming()) }}
	{% else %}
		<div class="ui warning message">This project has no upcoming deployments. Please create one.</div>
	{% endif %}

	{% if project.past().count() > 0 %}
		<h3>Past</h3>
		{{ mm.deploymentList(project.past()) }}
	{% endif %}

{% endblock %}

{% macro deploymentList(deployments) %}
	<div class="ui very relaxed divided list">
		{% for deployment in deployments %}
			<div class="ui item">
				<i class="large calendar check o  middle aligned icon"></i>
				<div class="content">
					<a href="{{app.path('deployment_view',app.controller.entityParams(deployment))}}" class="header"><h3>{{deployment.displayTitle}}</h3></a>
					<div class="ui horizontal list description">
						{% for item in deployment.items %}
							<span class="ui label">
								<i class="ui {{item.statusIcon}} icon" title="{{item.status}}"></i>
								<a class="item" href="{{app.path('item_view',app.controller.entityParams(item))}}">
									{{item.displayTitle}}
								</a>
							</span>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endmacro %}