{% extends "renobase.twig" %}

{% block content %}
    <h1 class="ui dividing header">
        <div class="breadcrumb">
            <span>{{r.crumb_project(project, true)}} &raquo;</span>
        </div>
        <span><i class="ui clipboard icon"></i>Activity Templates</span>
        <a class="ui right floated primary button" href="{{app.entity_path('template_create',project)}}">
            <i class="ui plus icon"></i>Create activity template
        </a>
    </h1>

    <p>Activity templates are templates that will be used to create activities under deployment items</p>

    {% if project.templates.count() > 0 %}
        <div class="ui segment">
            <div class="ui very relaxed divided list">
                {% for template in project.templates %}
                    <div class="ui item">
                        <i class="large copy middle aligned icon"></i>
                        <div class="content">
                            <a href="{{app.entity_path('template_edit',template)}}" class="header"><h3>{{template.title}}</h3></a>
                            <div class="ui description">
                                <div>Category: {{template.templateClass().classTitle}}</div>
                                <div>Used by {{template.activities.count}} {{ template.activities.count > 1 ? 'activities':'activity' }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="ui error message">
            No activity template has been defined for this project
        </div>
    {% endif %}

{% endblock %}
