<table class="ui striped very compact table">
    <thead>
        <tr>
            <th>#</th>
            <th>Login</th>
            <th>SQL Script</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                <td class="top aligned collapsing">
                    {{loop.index}}
                </td>
                <td class="ui collapsing top aligned"><a name="{{row.runitem.id}}"></a>
                    {{row.params.login}}
                </td>
                <td class="top aligned">
                    <div class="ui form">
                        <textarea readonly="readonly" style="font-family: monospace">{{row.params.sql}}</textarea>
                    </div>
                </td>
                <td class="top aligned collapsing">
                    {{ r.showStatus(row.runitem) }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

