{{data[0].params.Instructions|raw}}
<table class="ui striped very compact table">
    <thead>
        <tr>
            <th>#</th>
            <th>Details</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                <td class="top aligned collapsing">
                    <a name="{{row.runitem.id}}">&nbsp;</a>{{loop.index}}
                </td>
                <td class="top aligned">
                    {{ r.prettyDisplay(row.params.Details) }}
                </td>
                <td class="top aligned collapsing">
                    {{ r.showStatus(row.runitem) }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

