<table class="ui striped very compact table">
	<thead>
		<tr>
			<th class="three wide">Project</th>
			<th class="four wide">Job</th>
			<th>Options</th>
			<th class="four wide">Remark</th>
		</tr>
	</thead>
	<tbody>
		{% for row in data %}
			<tr>
				<td class="top aligned">{{row.project}}</td>
				<td class="top aligned">
					{% if row.group %}<small>{{row.group}} &raquo;</small><br />{% endif %}
					<strong>{{row.job}}</strong>
				</td>
				<td class="top aligned">
					{% if row.options %}
						{{ r.arrayTable(row.options) }}
					{% else %}
						Not required
					{% endif %}
				</td>
				<td class="top aligned">
					{{row.remark|default('-')|nl2br}}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

