<table class="ui striped very compact table">
    <thead>
        <tr>
            <th>#</th>
            <th>Command</th>
            <th class="four wide">Nodes</th>
            <th class="four wide">Remark</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                <td class="top aligned collapsing">
                    <a name="{{row.runitem.id}}">&nbsp;</a>{{loop.index}}
                </td>
                <td class="top aligned">
                    <div class="ui form">
                        <input type="text" value="{{row.params.command}}" readonly="readonly" />
                    </div>
                </td>
                <td class="top aligned">
                    {{ r.prettyDisplay(row.params.nodes) }}
                </td>
                <td class="top aligned">
                    {{ r.prettyDisplay(row.params.remark) }}
                </td>
                <td class="top aligned collapsing">
                    {{ r.showStatus(row.runitem) }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

