{% extends "plugin_base.twig" %}

{% block pluginView %}
    <form method="POST">
        <div class="ui form">
            <div class="ui required field grey basic segment">
                <label class="ui top attached large label">Bot Token</label>
                <input placeholder="Bot Token" type="text" name="bot_token" value="{{token|default(core.options.bot_token|default(null))}}" />
                {{ m.fieldError(errors|default([]), 'bot_token') }}
            </div>
            <div class="ui required field grey basic segment">
                <label class="ui top attached large label">Group</label>
                <p>Please select a group from below. If the group not visible, post something there and refresh this page.</p>
                <div class="inline fields">
                    {% for id,group in groups|default([]) %}
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input id="group{{id}}" type="radio" name="group_id" value="{{id}}" {% if id == core.options.group_id|default(0) %}checked="checked"{% endif %}>
                                <input type="hidden" name="group_name[{{id}}]" value="{{group}}" />
                                <label for="group{{id}}">{{group}}</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ m.fieldError(errors|default([]), 'group_id') }}
            </div>
            <div class="ui field">
                <input type="submit" class="ui submit primary button" name="_action" value="Save" />
            </div>
        </div>
    </form>
{% endblock %}